name: user-statistician

on:
  schedule:
    - cron: '0 3 * * *' # Runs at 3 AM UTC every day
  workflow_dispatch: # Allows you to run it manually from the Actions tab

jobs:
  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Generate the user stats image
        uses: cicirello/user-statistician@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
